.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

button {
  font-size: 18px;
  padding: 8px 12px;
}
/*main control*/
.main-container {
  text-align: center;
  margin-top: 20px;
}

.counter-display {
  font-size: 32px;
  margin: 12px;
}

/* ₿ button */
.emoji-button {
  display: block;
  margin: 8px auto;
  font-size: 36px;
  padding: 20px 36px;
}

/* space between 1st upgrade button and ₿ button*/
.upgrade-container {
  margin-top: 12px;
  text-align: center;
}

/* space between each upgrade button */
.upgrade-button {
  display: block;
  margin: 4px auto;
  font-size: 18px;
  padding: 12px 24px;
}

/* numb for each btn */
.upgrade-count {
  font-size: 14px;
  margin-bottom: 4px;
}

/* Upgrade rate for each btn */
.upgrade-rate {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}

/* CPS UI */
.rate-display {
  font-size: 16px;
  margin-bottom: 12px;
}
